@charset "UTF-8";
* {
  font-family: "lexend tera";
}

body {
  margin: 0;
}

.celek {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.header {
  background-image: url("/images/uvod.jpg");
  background-size: cover;
  padding: 20px 0 20px 0;
  height: 280px;
  width: 100%;
}

h1 {
  color: white;
  font-family: "lexend tera";
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  margin: 0;
}

/** {
    box-sizing:border;
}*/
.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  margin: 0 20%;
  padding: 0;
}

.menu li {
  border: 1px solid white;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  color: white;
}

.uvod {
  text-align: center;
  background-color: hsl(25, 83%, 93%);
  height: calc(100vh - 300px);
  padding: 15px 10px 20px 10px;
}

p {
  font-size: 17px;
  margin: 0;
}

.footer {
  background-color: #bfaa9d;
  height: 30px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 12px;
  padding: 5px 0;
}

.footer_in {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.footer_text {
  margin: 5px 0 0 5px;
}

@media screen and (min-width: 900px) {
  body {
    margin: 0;
  }
  .header {
    height: 180px;
  }
  h1 {
    justify-content: center;
    font-size: 60px;
    padding-bottom: 35px;
  }
  .menu {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 70px 0 70px;
  }
  .menu li {
    padding: 7px 10px;
    font-size: 20px;
    margin-right: 0;
    margin-left: 0;
  }
  .uvod {
    padding: 15px 10px 20px 10px;
  }
  .footer {
    background-color: #bfaa9d;
    height: 40px;
    width: 100%;
    display: flex;
  }
  .footer_text {
    display: flex;
  }
  /*.footer_in{
  display:flex;
  flex-direction: column;
  position: absolute;
  bottom:10px;
  }*/
}
.domecky {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: hsl(25, 83%, 93%);
}

.uvod__domecky,
.domecek1,
.domecek2,
.domecek3,
.domecek4 {
  display: flex;
  margin-top: 10px;
}

.img__domecky {
  height: 10%;
  width: 70%;
  border-radius: 20px;
  opacity: 0.3;
}

.nadpis__domecky {
  position: absolute;
  right: 30px;
  color: #563719;
  margin: 40px 0 0 0;
  font-size: 25px;
}

.img__domecek1,
.img__domecek2,
.img__domecek3,
.img__domecek4 {
  width: 120px;
  border-radius: 20px;
}

.domecek2,
.domecek4 {
  flex-direction: row-reverse;
}

.domecek1 p,
.domecek2 p,
.domecek3 p,
.domecek4 p {
  padding: 20px 5px;
  font-size: 13px;
  font-family: "lexend mega";
  text-align: center;
}

@media screen and (min-width: 900px) {
  /*.domecky {
      margin: 0 40px;
  }*/
  .nadpis__domecky {
    font-size: 40px;
    right: 120px;
    top: 300px;
  }
  .domecek1 {
    margin-top: 20px;
  }
  .img__domecek1,
  .img__domecek2,
  .img__domecek3,
  .img__domecek4 {
    width: 400px;
    border-radius: 20px;
  }
  .domecek1 p,
  .domecek2 p,
  .domecek3 p,
  .domecek4 p {
    display: flex;
    padding: 50px 50px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .nadpis__domecky {
    font-size: 50px;
    right: 190px;
    top: 300px;
  }
  .img__domecek1,
  .img__domecek2,
  .img__domecek3,
  .img__domecek4 {
    width: 470px;
    border-radius: 20px;
  }
  .domecek1 p,
  .domecek2 p,
  .domecek3 p,
  .domecek4 p {
    display: flex;
    padding: 290px 50px 20px 50px;
    font-size: 20px;
  }
}
/* stylování jaktovzniklo*/
.jaktovzniklo {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: hsl(25, 83%, 93%);
}

.hlavicka__jaktovzniklo {
  display: flex;
}

.img__jaktovzniklo {
  width: 40%;
  margin: 20px;
  border-radius: 20px;
  opacity: 0.3;
}

.nadpis__jaktovzniklo {
  position: absolute;
  right: 30px;
  top: 470px;
  color: #563719;
  margin: 0;
  font-size: 25px;
}

/*

 .odstavce__jaktovzniklo {
       // width:150px;
        font-family: $fontmega;

 }*/
@media screen and (min-width: 900px) {
  .img__jaktovzniklo {
    width: 25%;
    margin: 5%;
    border-radius: 20px;
    opacity: 0.3;
  }
  .nadpis__jaktovzniklo {
    right: 50px;
    font-size: 45px;
  }
  .odstavce__jaktovzniklo {
    margin-top: 5px;
    font-family: "lexend mega";
    position: absolute;
    top: 580px;
    right: 30px;
    width: 60%;
    text-align: right;
  }
}
.img__postavicky {
  height: 10%;
  width: 70%;
  border-radius: 20px;
  opacity: 0.3;
}/*# sourceMappingURL=style.css.map */