<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vánoční městečko</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Lexend+Tera:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">


</head>
    
<body>
    <div class="celek">
        <header class="header">
            <h1>VÁNOČNÍ MĚSTEČKO</h1>
            
            <ul class="menu">
                <li><a href="#">jak to vzniklo?</a></li>
                <li><a href="#">domečky</a></li>
                <li><a href="#">postavičky</a></li>
                <li><a href="#">kdo jsem</a></li>
            </ul>
        </header>

        

            {{ content | safe }}


      

        <footer class="footer">
            <span class="footer_text">Krásné Vánoce </span>
            <div class="footer_in">
                <span class="footer_me"> Pavla Střondalová</span>
                <span class="footer_date">Prosinec 2024</span>
            </div>
        </footer>


    </div>

</body>
</html>
              